<div id="lone_note">
	<div class="note_container">
		<h1>
			<%= @note.title%>	
		</h1>
		<p>
			<%= @note.body%>
		</p>
	</div>
	<%= link_to "all Notes", notes_path %>
	<%= link_to "Edit", edit_note_path(@note) %>
	<%= link_to "Delete", note_path(@note), method: :delete, data: {confirm: "Are you sure you would like to delete this note?"} %>
</div>